<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
			<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
		</Console>
		<RollingFile name="FILE" fileName="../log/server.log"
				filePattern="../log/server-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%d %-5p [%c{1}] (%t) %m%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5"/>
			<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.mobicents.media.server" level="INFO"/>
		<Logger name="org.mobicents.media.server.impl.rtp" level="INFO"/>
		<Root level="INFO">
			<AppenderRef ref="CONSOLE"/>
			<AppenderRef ref="FILE"/>
		</Root>
	</Loggers>
</Configuration>
